.vjs-custom-button > .vjs-seek-button.skip-back , .vjs-custom-button > .vjs-seek-button.skip-forward {
  font-size: 2em;
  height: 2em;
  width: 2em;
  margin: 1em;
}

.vjs-custom-button > .vjs-seek-button.skip-back::before , .vjs-custom-button > .vjs-seek-button.skip-forward::before, .vjs-custom-button > .vjs-seek-button.skip-back .vjs-icon-placeholder::before, .vjs-custom-button > .vjs-seek-button.skip-forward .vjs-icon-placeholder::before {
  line-height: 1 !important;
}

.vjs-custom-button > .vjs-play-control {
  font-size: 4em !important;
  height: 2em !important;
  width: 2em !important;
}

.vjs-custom-button > .vjs-play-control::before, .vjs-custom-button > .vjs-play-control .vjs-icon-placeholder::before {
  line-height: 1 !important;
  content: "\f102" !important
}

.vjs-custom-button {
  height: max-content !important;
  position: absolute !important;
  width: max-content !important;
  min-width: 24em !important;
  left: 50%;
  margin-left: -12em !important;
  top: 50%;
  margin-top: -5em !important;
}

.vjs-big-play-button {
  display: none !important;
}

.fa.fa-heart {
  color: #f54042;
}

.fa.fa-heart-o:before {
  content: "\f08a";
  font-family: FontAwesome;  
  font-style: normal;
    font-weight: normal;
    text-decoration: inherit;

}
.fa.fa-heart:before {
  content: "\f004";
  font-family: FontAwesome;
  font-style: normal;
    font-weight: normal;
    text-decoration: inherit;

}

.fa.fa-check:before {
  content: "\f058";
  font-family: FontAwesome;
  color: #2DCE8C;
  font-style: normal;
    font-weight: normal;
    text-decoration: inherit;


}

.fa.fa-check-o:before {
  content: "\f10c";
  font-family: FontAwesome; 
  font-style: normal;
    font-weight: normal;
    text-decoration: inherit;

}
.fa.fa-share-alt:before {
  content: "\f045";
  font-family: FontAwesome; 
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}


.video-js .vjs-duration, .vjs-no-flex .vjs-duration,.video-js .vjs-duration, .vjs-time-divider ,.video-js .vjs-current-time, .vjs-no-flex .vjs-current-time
 {
display: block !important;
}

.vjs-progress-control.vjs-control {
  position: absolute !important;
  left: 0.5%;
  width: 99% !important;
  transform: translate(0px, -2.5em);
}

.vjs-control-bar {
  background-color: transparent !important;
  padding: 0 1.5em;
  margin-bottom: 0.3em;

}

.vjs-progress-holder {
  font-size: 1.77777em;
}
.vjs-load-progress{
height: 0.7em !important;
}

.vjs-load-progress, .vjs-load-progress > div {
  border-radius: 25px;
  background: #fff !important;
  width: calc(100% + .15em) !important;
}

.vjs-play-progress {
  border-radius: 25px;
  background: transparent linear-gradient(180deg, #FF3B58 0%, #F92C95 100%) 0% 0% no-repeat padding-box;
  margin: 0.75px !important;
  height: 0.6em !important;
}

.vjs-progress-holder {
  font-size: 1.6666666667em;
  height: calc(0.3em + 1.5px) !important;
  background: #fff !important;
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.vjs-play-progress::before {
  content: "" !important
}

.video-js .vjs-custom-control-spacer{
  display: block !important;
  width:100%;
  min-width: 4em;
}


.video-js .vjs-overlay-no-background {
  max-width: unset !important;
}

.rewind-play-forward{
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;  
  margin: auto !important;
  transform: translate(-50%, -50%);
}

.mobile-rewind-play-forward{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
}

.video-js {
  border-radius: 20px;
  overflow: hidden;
}

.video-js > video {
  outline: none;
}

.vjs-load-progress > div {
  display: none !important;
}